body {
  position: relative;
  text-align: center;
}
h1 {
  font-family: "Anton", sans-serif;
  color: rgb(154, 46, 137);
  margin-bottom: 50px;
  margin-top: 20px;
  margin-left: 20px;
  font-size: 2.5rem;
  font-weight: bold;
}
p {
  margin-top: 0;
  margin-left: 90px;
  width: 300px;
}
.hos-address-box {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  width: 470px;
  min-height: 240px;
  background-color: #f3ccff;
  border-radius: 7px;
  margin-bottom: 10px;
  margin-right: 10px;
}
.hos-address-box:hover {
  background-color: #dc93f2;
}
input {
  background-color: #ada9f1;
  border-width: 0;
  border-radius: 5px;
  padding: 10px 15px 10px 15px;
  margin-bottom: 10px;
}
input:hover {
  background-color: #6d67e4;
  color: white;
}
.main-con {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
